img {
  height: 150px;
  width: 110px;
  border-radius: 10%;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6);
}
/* margin-bottom: 10px; 
  transition: transform 0.6s;
  transform-style: preserve-3d;
  cursor: pointer;}
}

/* .flip-container {
  perspective: 1000px;
  height: 150px;
  width: 110px;
  border-radius: 10%;
}
.flip-container img {
  width: 100%;
  height: 100%;
  border-radius: 10%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
} */

img:hover {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.name {
  color: white;
  margin-top: 30px;
  margin-right: 10px;
  font-family: fantasy;
}

.profile {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  /* height: 100vh; */
  margin-top: 110px;
  margin-bottom: 50px;
}

.intro {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  border: 2px black;
  border-radius: 10px;

  padding: 2px;
  text-align: center;
  max-width: 650px;
  margin-top: 20px;
  /* margin: 0px auto; */
  /* background-color: black; */
}
h3 {
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 10px;
  margin: 0 auto;
  color: white;
  line-height: 1.8;
}

.intro p {
  /* font-weight: bold; */
  font-size: 1.2rem;
  margin-top: 30px;
  color: white;
  line-height: 1;
}
button {
  padding: 5px 10px;
  border-radius: 25%;
  font-size: 16px;
  border: none;
  cursor: pointer;
  background-color: #86c8c3;
}

/* .button1 {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6);
  background-color: aliceblue;
}

.button2 {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6);
  background-color: #86c8c3;
} */
.button-container {
  display: flex;
  align-items: center;
  justify-content: center; /* center vertically if container has height */
  gap: 20px;
  margin-top: 30px;
}

button:hover {
  background-color: black;
  color: white;
}
