h1 {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.para {
  display: flex;
  justify-content: center;
  align-items: center;
}
.para p {
  margin: 10px;
  color: rgba(255, 255, 255, 0.759);

  line-height: 1.9;
  text-align: center;
  max-width: 800px;
}
.out-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  /* gap: 30px;
  width: 100%;
  padding: 70px;
  margin: 50px; */

  gap: 70px;

  max-width: 1200px; /* keeps cards centered */
  margin: 30px auto; /* centers the grid */
  padding: 20px; /* smaller padding looks cleaner */
  width: 90%;
}

.styling {
  display: flex;
  flex-direction: column;
  align-items: center;

  justify-content: center;
  padding: 10px;

  border: 2px solid rgba(255, 255, 255, 0.25);
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  width: 100%;
  max-width: 400px;
  min-height: 200px;

  color: white;
}

.styling-text {
  width: 100%;
  text-align: center;
  margin: 5px;
}

.styling h4 {
  margin-bottom: 10px;
  font-size: 22px;
}

.styling p {
  margin: 5px 0;
  font-size: 16px;
  opacity: 0.9;
}
.flip-card {
  width: 100%;
  max-width: 400px;
  height: 250px;
  perspective: 1000px; /* important for 3D flip */
  padding: 20px;
}

.flip-card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 0.7s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* ----- FRONT SIDE ----- */
.flip-card-front {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border: 2px solid rgba(255, 255, 255, 0.25);
  border-radius: 20px;
  overflow: hidden;
  text-align: center;
}

.flip-card-front img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ----- BACK SIDE ----- */
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #397570;
  color: white;
  transform: rotateY(180deg);
  backface-visibility: hidden;
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
