h1 {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.para {
  display: flex;
  justify-content: center;
  align-items: center;
}
.para p {
  margin: 10px;
  color: rgba(255, 255, 255, 0.759);

  line-height: 1.9;
  text-align: center;
  max-width: 800px;
}
.out-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* centers both rows */
  gap: 70px; /* spacing between items */
  margin: 50px auto;
  max-width: 800px; /* controls wrapping width */
  /* background-color: yellow; */
}

.flip-card {
  width: 400px;
  height: 230px;
  perspective: 1000px; /* important for 3D flip */
}

.flip-card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 0.7s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* ----- FRONT SIDE ----- */
.flip-card-front {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border: 2px solid rgba(255, 255, 255, 0.25);
  border-radius: 20px;
  overflow: hidden;
  text-align: center;
}

.flip-card-front img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ----- BACK SIDE ----- */
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #397570;
  color: white;
  transform: rotateY(180deg);
  backface-visibility: hidden;
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
